.marina_container {
    width: 485px;
    height: 10%;
    margin: 6px;
    border-radius: 30px;
    border: 1px solid black;
}


img {
    height: 100px;
    width: 150px;
    border-radius: 25px;
    margin-left: 170px;
}

ul {
    list-style-type: none;
}

.description {
    margin-left: 180px;
    width: 400px;
    display: flex;
    align-items: right;
}



.span1  {
    margin-left: 191px;
    display: block;
    font-size: 30px;
    font-weight: bolder;
}
.span2 {
    margin-left: 221px;
    color: red;
}


