.marina_container {
    width: 485px;
    height: 10%;
    margin: 6px;
    border-radius: 30px;
    border: 1px solid black;
}


img {
    height: 100px;
    width: 150px;
    border-radius: 25px;
    margin-left: 170px;
}

ul {
    list-style-type: none;
}

.description {
    margin-left: 180px;
    width: 400px;
    display: flex;
    align-items: right;
}



.span1  {
    margin-left: 191px;
    display: block;
    font-size: 30px;
    font-weight: bolder;
}
.span2 {
    margin-left: 221px;
    color: red;
}

.delete-btn {
    height: 40px;
    width: 80px;
    background-color: rgb(244, 57, 57);
    padding: 2px 10px;
    border-radius: 20px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.other-btn {
    height: 40px;
    width: 140px;
    margin-left: 28px;
    border: 1px solid rgb(187, 186, 192);
    padding: 8px 16px;
    border-radius: 8px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(43, 39, 60);
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
