.containerEdit {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .edit-form {
    height: 250px;
    width: 350px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .edit-marina-btn {
    margin-left: 30px;
  }


    button {
      border-radius: 30px;
      color: white;
      background-color: #40d9ac;
      width: 300px;
      height: 60px;
      margin: 5px;
      font-size: 20px;
      letter-spacing: 1px;
  }
