form, #container, div {
  width: 350px;
  border-left: 100px;
}

#signup-form {
  min-height: 20px;
  width: 350px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

  button{
    border-radius: 30px;
    color: white;
    background-color: #40d9ac;
    width: 300px;
    height: 60px;
    margin: 24px 0px 0px;
    padding: 14px;
    font-size: 20px;
    letter-spacing: 1px;
}
