.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.signup-form {
  height: 450px;
  width: 350px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


